<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD usuario</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <%celulares.forEach(function(celular){%>
          <th><%=celular.nome%></th>
          <th><%= celular.preco></th>
        </tr>
      </tbody>
    </table>

    
    <script>

    </script>
</body>
</html>
